body {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
  background-color: #f6e9f8; /* Color de fondo pastel morado */
  color: #444; /* Color de texto */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff; /* Color de fondo pastel para el encabezado */
  padding: 10px 0;
  z-index: 100;
  display: flex;
  align-items: center;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header nav ul li {
  margin-right: 20px;
}

header nav ul li a {
  text-decoration: none;
  color: #712f5f; /* Color de los enlaces del menú */
  transition: color 0.3s ease;
}

header nav ul li a:hover {
  color: #a66db6; /* Color de los enlaces del menú al pasar el ratón */
}

.menu-toggle {
  font-size: 24px;
  cursor: pointer;
  display: none;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99;
  display: none;
}

section {
  padding: 50px;
  margin-bottom: 20px; /* Espacio en blanco entre secciones */
}

section:nth-child(odd) {
  background-color: #52C3BE; /* Color de fondo pastel morado para secciones impares */
}

section:nth-child(even) {
  background-color: #FABE75; /* Color de fondo blanco para secciones pares */
}

.section {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.section.active {
  opacity: 1;
  transform: translateY(5 );
}


pre{
  font-family: 'Roboto', sans-serif;
}

#home{
  font-size: 35px;
  height: 78vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#proyectos{
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#proyectos img{
  height: 30vh;
  margin: 10px;
  border-radius: 20px;
  border: 3px solid white;

}

#proyectos h2{
  font-size: 45px;
  margin-right: 1000px;
}

#sobre-mi{
  height: 70vh;
}

#sobre-mi pre{
  position: fixed;
  bottom: 100px;
  left: 20px;
  width: 300px;
  height: 200px;
}
.contenido{
  display: flex;
  justify-content: center;
  align-items: center;
}

#sobre-mi h2{
  font-size: 45px;

  /* margin-right: 1000px; */
}

#sobre-mi img{
  border: 3px solid white;
  border-radius: 10px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 430px;
  position: fixed;
  right: 10px;
  bottom: 105px;
  margin: 10px;

}

/* Hide the images by default */
.mySlides {
  display: none;
  justify-content: center

}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


#contacto{
  height: 60vh;
}

#contacto h2{
  font-size: 45px;
}

iframe{
  margin-left: 700px;
  /* display: flex; */
  border-radius: 25px;
  margin-top: -245px;
  
}
  border-radius: 25px;
  margin-top: -245px;
  
}
